body{
    background: rgb(58, 141, 235);
    font: normal 15pt Arial;
    text-align: center;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    /*height: 500px;*/
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
img{
    width: 300px;
    height: 300px;
}